{% load static %}

<div class="container P-5 text-center">
  <h1>WHAT WE DO</h1>
</div>

<div class="card-group">
  <div class="card me-2 card-border">
    <img
      class="card-img"
      src="{% static 'images/stLouis.png' %}"
      class="card-img-top"
      alt="Wall Art"/>
    
    <div class="card-body text-center">
      <h5 class="card-title">Wall Art</h5>
      <p class="card-text text-center">
        Drones provide a breathtaking aerial perspective that is not possible
        with traditional ground-based cameras. The cutting edge drones used by
        Aerial Images provide high resolution photography able to create large
        format artwork
      </p>
    </div>
    <div class="card-footer footer">
      <a href="#">
        <small class="btn btn-primary d-grid gap-2">Learn More </small>
      </a>
    </div>
  </div>

  <div class="card me-2 card-border">
    <img
      class="card-img"
      src="{% static 'images/concert.png' %}"
      class="card-img-top"
      alt="Events"/>

    <div class="card-body  text-center">
      <h5 class="card-title">Events</h5>
      <p class="card-text card-border">
        The use of drones for event photography and videography adds a new
        dimension to capturing and presenting events. The technology not only
        enhances the visual appeal of event coverage but also provides practical
        benefits in terms of documentation, marketing, and security. As drone
        technology continues to advance, its applications in the events industry
        are likely to expand even further.
      </p>
    </div>
    <div class="card-footer footer">
      <a href="#">
        <small class="btn btn-primary d-grid gap-2">Learn More </small>
      </a>
    </div>
  </div>

  <div class="card card-border">
    <img
      class="card-img"
      src="{% static 'images/sunset.png' %}"
      class="card-img-top"
      alt="Marketing"/>
      
    <div class="card-body text-center">
      <h5 class="card-title">Marketing Content</h5>
      <p class="card-text text-center">
        High-quality drone photos and videos make for compelling marketing and
        promotional materials. They can be used in pre-event promotions to build
        anticipation, as well as in post-event marketing to showcase the success
        and highlights of the event. The visually stunning aerial shots can
        attract attention and generate interest from potential attendees,
        sponsors, and partners.
      </p>
    </div>
    <div class="card-footer">
      <a href="#">
        <small class="btn btn-primary d-grid gap-2">Learn More </small>
      </a>
    </div>
  </div>
</div>
