{% load static %}

<body>
    <div class="container">
        <div class="row border-start shadow-lg rounded">
            <div class="col-sm-6"
                style="padding-top: 7rem;">
                <h1>Wall Art</h1>
                <h3 class="fw-lighter">All due respect to fireplaces, but nothing warms up a room like beautiful artwork of your favorite national treasures!</h3>
            </div>
            <div class="col-sm-6 rounded">
                <img class="rounded" src="{% static 'images/SanFran.jpg' %}" width="100%" alt="San Francisco">
                
            </div>
        </div>
        <br><br><br>
        <div class="row mt-5 border-end shadow-lg rounded">
            <div class="col-sm-6">
                <img class="rounded" src="{% static 'images/SanFran.jpg' %}" width="100%" alt="San Francisco">
            </div>
            <div class="col-sm-6 text-end"
                style="padding-top: 7rem;">
                <h1>Wall Art</h1>
                <h3 class="fw-lighter">All due respect to fireplaces, but nothing warms up a room like beautiful artwork of your favorite national treasures!</h3>
            </div>
        </div>
    </div>
</body>