{% load static %} 
{% load bootstrap5 %} 
{% bootstrap_css %} 
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> {% block title %} Airborne Images {% endblock %}</title>

        <link 
            rel="stylesheet" 
            type ="text/css" 
            href="https://bootswatch.com/5/spacelab/bootstrap.min.css">

        <link 
            rel="icon" 
            type="image/x-icon" 
            href="{% static '/images/logo.ico' %}">

        <link
            rel="stylesheet" 
            type ="text/css" 
            href="{% static 'styles/app.css' %}">
        
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    </head>

    {% for message in messages %}
        {{ messages }}
    {% endfor %}

    <body>
        {% include 'components/nav.html' %}
        {% block content %}

        {% endblock %}
        
    </body>
</html>